:root {
  --color-primary: #323232;
  --color-white: #ffffff;
  --color-grey: #a9a9b3;
  --color-grey-light: #9aa0a6;
  --bg-dark: #252627;
  --bg-dark-secondary: #292a2d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg-dark-secondary);
  color: var(--color-white);
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-grey);
  font-weight: bold;
}

/* Layout */
.header {
  background: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  font-size: 1.25em;
  font-weight: 600;
}

.body-app {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  max-width: 1200px;
  min-height: 80vh;
  margin: 2rem auto 1rem;
}

.footer {
  padding: 1rem 0;
  text-align: center;
}

.footer a {
  color: var(--color-white);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Utility */
.spacing {
  margin-bottom: 1rem;
}

/* Note */
.note-form {
  margin: 0 auto;
  padding-right: 16px;
  width: 100%;
  margin-bottom: 32px;
}

.note-form input,
.note-form textarea {
  display: block;
  font-size: 14px;
  width: 100%;
}

.note-form__title {
  font-weight: bold;
}

.note-form__title-limit {
  font-size: 14px;
  text-align: left;
  color: var(--color-grey);
}

.note-form__body {
  min-height: 175px;
}

.note-form button {
  display: block;
  width: 100%;
  padding: 12px 8px;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.section-notelist {
  padding-left: 16px;
  margin-bottom: 48px;
}

.section-notelist__subtitle {
  margin-bottom: 12px;
  text-transform: uppercase;
  color: var(--color-grey-light);
}

.note-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
}

.note-list__empty-message {
  text-align: center;
  color: var(--color-white);
}

.note-item {
  border: 2px solid var(--color-white);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  padding: 12px;
  flex-direction: column;
}

.note-item__title {
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  margin-bottom: 6px;
}

.note-item__body {
  font-size: 14px;
  height: 100%;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
